_site/
.console_history
banned-ips.json
banned-players.json
bukkit.yml
commands.yml
help.yml
logs/latest.log
ops.json
paper.yml
permissions.yml
plugins/AdvancedAchievements/achievements.mv.db
plugins/AdvancedAchievements/achievements.mv.db.bak
plugins/CoreProtect/database.db
plugins/BetonQuest/logs/
plugins/Logger/
server.properties
plugins/LuckPerms/luckperms-h2.mv.db
plugins/PlayerPoints/playerpoints.db
spigot.yml
usercache.json
version_history.json
wepif.yml
whitelist.json
world/
world_nether/
world_the_end/
